extend-exclude = [
    "migrations"
]

line-length = 79
indent-width = 4

[format]
quote-style = "single"
indent-style = "space"

[lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]